{
  "tabWidth": 4,
  "semi": true,
  "arrow-parens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}